

<body>
    <div id="logreg-forms">
        <form *ngIf="showSignIn" class="form-signin">
            <h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> Inloggning</h1>
    
            <div class="input-group">
              <input type="text" id="inputEmail" class="form-control" placeholder="Användarnamn" required="" autofocus="" name="username" [(ngModel)]="username">
            </div>

            <div class="input-group">
              <input type="password" id="inputPassword" class="form-control" placeholder="Lösenord" required="" name="password" [(ngModel)]="password">
            </div>

            <div class="input-group">
              <button class="btn btn-md btn-rounded btn-block form-control submit" type="button" (click) = "doLogin()"><i class="fas fa-sign-in-alt"></i> Logga in </button>
            </div>

            
            <a  id="forgot_pswd" (click) = "toggleFormReset()">Glömt lösenordet?</a>
            
            <hr>
            <!-- <p>Don't have an account!</p>  -->
            <button class="btn btn-primary btn-block" type="button" id="btn-signup" (click) = "toggleSignIn()"><i class="fas fa-user-plus"></i> Skapa nytt konto</button>
        </form>

            <form *ngIf="showFormReset" action="#" class="form-reset">
                <input type="email" id="resetEmail" class="form-control" placeholder="Användarnamn" required="" autofocus="" name="usernameResetPassword" [(ngModel)]="usernameResetPassword">
                <button class="btn btn-primary btn-block" type="submit" (click)="getNewPassword()">Återställ lösenord</button>
                <a href="#" id="cancel_reset"><i class="fas fa-angle-left"></i> Tillbaka</a>
            </form>

            <form *ngIf="showSignUp" class="form-signup">
               
                <input type="text" id="user-name" class="form-control" placeholder="Användarnamn" required="" autofocus="" name="newUsername" [(ngModel)]="newUsername">
                <input type="email" id="user-email" class="form-control" placeholder="E-post" required autofocus="" name="email" [(ngModel)]="email">
                <input type="password" id="user-pass" class="form-control" placeholder="Lösenord" required autofocus="" name="newPassword" [(ngModel)]="newPassword">
                <input type="password" id="user-repeatpass" class="form-control" placeholder="Bekräfta lösenord" required autofocus="" name="confirmNewPassword" [(ngModel)]="confirmNewPassword">

                <div class="input-group">
                  <button class="btn btn-md btn-block submit" type="button" (click) = "createAccount()" ><i class="fas fa-user-plus"></i> Skapa konto</button>
                </div>

                <a href="#" id="cancel_signup" (click) = "toggleSignIn()"><i class="fa fa-angle-left"></i> Tillbaka</a>
            </form>
            <br>

    </div>
