<div id="logreg-forms">
    <form class="form-reset">
        <input type="password" id="newPassword" class="form-control" placeholder="Nytt lösenord" required="" autofocus="" name="newPassword" [(ngModel)]="newPassword">
        <input type="password" id="newPassword2" class="form-control" placeholder="Upprepa lösenordet" required="" autofocus="" name="newPassword2" [(ngModel)]="newPassword2">
        <button class="btn btn-primary btn-block" type="submit" (click)="updatePassword()">Återställ lösenord</button>
    </form>

</div>
