<div id="banner">
    <div id="logoTop">
        <h1 id="amazing">AMAZING</h1> 
    </div>
    
    <div id="logoBottom">
        <h6 class="gold">Som Amazon, fast för rikingar.</h6>
    </div>
</div>




<!-- <div *ngIf="loggedIn == false">
    <login (loginStatus)="loginStatusChange($event)"></login>

</div> -->


<button *ngIf="loggedIn" (click)="showShoppingPage()"> Handla </button> 
<button *ngIf="loggedIn" (click)="showPayingPage()"> Gå till kassan </button> 
<button *ngIf="userIsAdmin" (click) = goToAdminPage()> Länk till adminsidan här!! </button>
<button *ngIf="loggedIn" (click)="logOut()"> Logga ut </button> 


<br>
<br>

<router-outlet></router-outlet>
<br>
<br>
<!-- 
<router-outlet *ngIf="loggedIn == true"></router-outlet> -->


