#background{
    background: -webkit-linear-gradient(0deg, #3c96ff 0%, #2dfbff 100%);
}


.lightHover:hover {
    background-color: lightcyan;
}


.gold {
    color: gold;
}

#banner {
    position: relative;
}

#logoTop {
    z-index: 0;
    vertical-align: bottom;
}


#logoBottom {
    z-index: 1;
    vertical-align: top;
}
