<div class="background full">



    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
        <a class="navbar-brand" href="#"><img src="assets/images/Logga.png" width="140" height="40" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li *ngIf="loggedIn" class="nav-item lightHover">
            <a class="nav-link" (click)="showShoppingPage()">Handla <span class="sr-only">(current)</span></a>
            </li>
            <li *ngIf="loggedIn" class="nav-item">
            <a class="nav-link lightHover" (click)="showPayingPage()">Gå till kassan</a>
            </li>
            <li *ngIf="userIsAdmin" class="nav-item">
            <a class="nav-link lightHover" (click) = goToAdminPage()>Admin</a>
            </li>
            <li *ngIf="loggedIn" class="nav-item lightHover">
            <a class="nav-link" (click)="logOut()">Logga ut</a>
            </li>
        </ul>
        </div>
    </nav>





<!-- 
    <div id="banner">
        <div id="logoTop">
            <h1 id="amazing">AMAZING</h1> 
        </div>
        
        <div id="logoBottom">
            <h6 class="gold">Som Amazon, för rikingar.</h6>
        </div>
    </div> -->


<!-- <div>

<button *ngIf="loggedIn" class="btn-md btn-rounded" (click)="showShoppingPage()"> Handla </button> 
<button *ngIf="loggedIn" class="btn btn-md" (click)="showPayingPage()"> Gå till kassan </button> 
<button *ngIf="userIsAdmin" (click) = goToAdminPage()> Länk till adminsidan här!! </button>
<button *ngIf="loggedIn" (click)="logOut()"> Logga ut </button> 
</div> -->




<router-outlet></router-outlet>
<br>
<br>
<!-- 
<router-outlet *ngIf="loggedIn == true"></router-outlet> -->


</div>